@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #3c393d  
}

img{
    width: 100%;
    display: block;
}

.container{
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;  
}

/*Header*/

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/fondo_index.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
/*Barra de navegacion*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 1.2rem;
    z-index: 10;
    background: rgba(0,0,0,0.6);
}
header.abajo{
   background: #fff;
   padding: 15px 20px;
}
header .logo{
    position: relative;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 2px;
    transition: 1.5s;
    text-decoration: none;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
header ul li{
   
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 400;
    transition: 0.7s;
}
header.abajo .logo,header.abajo ul li a{
    color: black;
}

/*******/
.banner{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;

}

.banner-title{
    font-size: 3rem;
    line-height: 1,2;
}

.banner-title span{
    font-weight: 600;
    font-size: 4rem;
    
}

.banner p{
    padding: 1rem o 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 400;
    word-spacing: 2px;
}

.banner form{
    background:#fff;
    border-radius:2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}

.search-input{
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding:0.6rem 0;
    border: none;
}

.search-input ::placeholder{
    text-transform: capitalize;
   
}
.search-btn {
    width: 40px;
    font-size:  1.1rem;
    color:#3c393d;
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}

/*Fin de header*/

/*Destacados*/
.design {
    padding: 4.5rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-size: 2.4rem;   
}

.title p{
    text-transform:uppercase;
    padding: 0.6rem 0;
}

.design-content{
    margin: 2rem 0;   
}
.design-item {
    cursor: pointer;
    margin: 1.5rem 0;
}

.design-img{
    position: relative;
    overflow: hidden;

}

.design-img ::after{
    position: absolute;
    content: "";
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.design-img img{
    transition:  all 0.5s ease;
}

.design-item:hover img{
    transform: scale(1.2);
}
.design-img span:first-of-type{
    position:absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: #3c393d;
    color: white;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position:absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.design-title a{
    color:#3c393d;
    text-decoration: none;
    text-transform: capitalize;
    
}

/*Fin Destacados*/

/* Nosotros*/
.section{
    width: 100% ;
    min-height: 100vh;
    background-color: #ddd;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float:left;
    width: 55%;
}
.img-section{
    float:right;
    width: 40%;
}
.img-section img{
    width: 100%;
    height: auto;

}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content h3{
    margin-top: 21px;
    color: #5d5d5d;
    font-size: 19px;
}
.content-section .content p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.content-section .content .btn a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
}
/*Regala arte*/
.about-container{
    background:rgb(203, 197, 197);
}
.about{
    padding: 4.5rem 0;

}
.about-text{
    margin: 2rem 0;
}
.about-text >p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}
.about-btn input[type="submit"]{
    background: black;
    color: #fff;
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 400;
    cursor: pointer;
    padding: 14px 15px;
}
/*Footer*/
footer{
   background: rgba(0,0,0,0.6);
   color: #fff;
   text-align: center;
   padding: 2rem 0;
}

.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;  
}

.social-links a{
    text-decoration: none;
    padding: 25px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}
.social-links a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.social-links a:hover{
    background-color: #111;
    transition: 0.5;

}
.social-links a:hover i{
    color: white;
    transition: 0.5s;
}

.footer span{
    margin-top: 2rem;
    display: block;
    letter-spacing: 2px;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
    color: black;
}

/* Media queries*/
@media screen and (min-width: 540px){
    header nav{
        padding: 0 1.2rem;
    }
    .banner-title{
        font-size: 5rem;
    }
    .banner form{
        margin-top: 1.4rem auto;
        width: 80%;
    }
}

@media screen and (min-width: 768px) {
    header nav{
      display: flex;
      align-items: center;
      justify-content: space-between;  
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .design-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .design-item{
        margin: 1.5rem 0;
     }
     }
@media screen and (min-width: 992px){
    .about-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        align-items: center;
    }
 }
@media screen and (min-width: 1200px){
    .design-content{
        grid-template-columns: repeat(3, 1fr);
    }

}

